NEXTAUTH_URL="http://localhost:3000"
NEXTAUTH_SECRET="this is a secret example"

SIGNUPS_ENABLED="true"

# This is the default development url and should work with the Docker Compose setup.
DATABASE_URL="postgresql://onlaunch:password@localhost:5432/onlaunch?schema=public"

SENTRY_DSN=
SENTRY_REPLAYS_SESSION_SAMPLE_RATE=0.1

# This is the default development setup and should work with the Docker Compose setup.
SMTP_HOST=localhost
SMTP_PORT=1025
SMTP_USER=
SMTP_PASS=

SMTP_FROM_EMAIL_ADDRESS="flo@kula.app"
SMTP_FROM_NAME="Flo Ho"

# add your stripe API key here
STRIPE_WEBHOOK_SECRET=
STRIPE_SECRET_KEY=
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=

# redis data
REDIS_HOST=
REDIS_PASSWORD=
REDIS_PORT=6379
# enable sentinel mode, if false it will go for a single instance options setup
REDIS_SENTINEL_ENABLED=false
# provide the sentinels in a format like "host1:26379,host2:26379,host3:26379"
REDIS_SENTINELS=
REDIS_SENTINEL_NAME=
# redis cache max age in minutes (60 = 1 hour)
REDIS_CACHE_MAX_AGE=60

HEALTH_API_KEY=