.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
}

@font-face {
  font-family: 'Roboto-Regular';
  src: local('Roboto-Regular'), url(../fonts/Roboto-Regular.ttf) format('truetype');
  /* other formats include: 'woff2', 'truetype, 'opentype',
                            'embedded-opentype', and 'svg' */
}

/* mobile phone container */
.phoneContainer {
  position: relative;
  width: 420px;
  height: 812px;
  border: 2px solid #333;
  border-radius: 50px;
  overflow: hidden;
  margin: 0 auto;
}

/* mobile phone screen */
.phoneScreen {
  position: absolute;
  top: 60px;
  left: 30px;
  width: 360px;
  height: 692px;
  background-color: #fff;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* text (message title) on the screen */
.phoneScreen h1 {
  font-family: 'Roboto-Regular';
  font-size: 32px;
  text-align: left;
  overflow-wrap: break-word; 
  margin: 5%;
  margin-top: 10%;
}

/* text (message body) on the screen */
.phoneScreen p {
  font-family: 'Roboto-Regular';
  font-size: 19px;
  text-align: left;
  overflow-wrap: break-word; 
  white-space: pre-wrap;
  margin: 5%;
}

.phoneScreen .closeIconContainer {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
}

.phoneScreen .closeIcon {
  margin-top: 32px;
  margin-left: auto;
  font-size: 24px;
}

.phoneScreen button {
  width: 90%;
  margin-left: 5%;
  margin-bottom: 5%;
  font-size: 18px;
}

.phoneScreen div {
  width: 90%;
  margin-left: 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;

}